.header__navigation {
  max-width: calc(100% - 70px*2);
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
 margin: 0 auto 0 0;
}

.header__account {
  margin: 0;
}

.nav__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
}

.nav__signup {
  color: #000;

}
