.techs {
  max-width: 100%;
  background-color: #F5F5F5;
}

.techs__container {
  max-width: calc(100% - 70px*2);
  margin: 0 auto;
}

.techs__title {
  margin: 0 0 90px;
  padding: 100px 0 23px;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  margin: 0 0 26px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.techs__about {
  max-width: 460px;
  margin: 0 auto 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__used-technologies {
  max-width: 690px;
  margin: 0 auto;
  padding: 0 0 100px;
  list-style-type: none;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 10px;
}

.techs__technology {
  width: 90px;
  padding: 22px 0;
  text-align: center;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 769px) {
  .techs__container {
    max-width: calc(100% - 50px*2);
  }

  .techs__title {
    margin-bottom: 80px;
    padding-top: 90px;
  }

  .techs__subtitle {
    margin-bottom: 22px;
  }

  .techs__about {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 85px;
  }

  .techs__used-technologies {
    grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
    padding-bottom: 90px;
  }

  .techs__technology {
    width: 84px;
    font-size: 12px;
    line-height: 15px;
    padding: 21px 0;
  }
}
